* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: row;
  display: flex;
  background-image: url('../../components/ui/IMG_6545.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

header {
  position: relative;
  height: 100%;
  width: 150px;
  color: #132858;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
}

header a {
  margin: 30px;
}

.logoministry {
  height: 110px;
  width: 200px;
  display: flex;
  cursor: pointer;
}

.forms {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  height: 400px;
  overflow-y: auto;
  padding: 20px 0;
  border-radius: 3%;
}

.titulo {
  color: #132858;
  font-size: 34px;
}


button {
  width: 90%;
  height: 30px;
  padding: 0 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  color: #ffffff;
  background-color: rgb(17, 17, 17);
}

h3 {
  text-align: center;
}

a {
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #132858;
  opacity: 0.8;
  transform: translateX(4px);
}

input{
     width: 85%;
    padding: 10px 14px;
}
.cultos-criados{
  margin-top: 30px;
}

form .select{
    margin-bottom: 200px;
}